---
import HTMLStack from '../components/icons/HTMLStack.astro';
import CSSStack from '../components/icons/CSSStack.astro';
import JSStack from '../components/icons/JSStack.astro';
import AstroStack from '../components/icons/AstroStack.astro';
import TailwindStack from '../components/icons/TailwindStack.astro';
import PHPStack from '../components/icons/PHPStack.astro';
import LaravelStack from '../components/icons/LaravelStack.astro';
import ReactStack from '../components/icons/ReactStack.astro';
import MySQLStack from '../components/icons/MySQLStack.astro';
---

<div>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-9 
  gap-y-8
  gap-x-28 justify-center items-center mx-auto p-8">
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <HTMLStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">HTML</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <CSSStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">CSS</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <JSStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">JavaScript</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <AstroStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">Astro</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <TailwindStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">Tailwind</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <LaravelStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">Symfony</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <PHPStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">PHP</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <ReactStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">React</p>
    </div>
    <div class="flex flex-col items-center transform transition-transform duration-300 hover:scale-125">
      <MySQLStack class="w-12 h-12"/>
      <p class="text-white text-lg font-bold">MySQL</p>
    </div>
  </div>
</div>